<!-- Modal -->
<div class="modal fade" id="newAssignmentModal" tabindex="-1" aria-labelledby="newAssignmentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <i class="fas fa-plus"></i> Add Assignment</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row thin-gutters">
            <div class="col-auto" (click)="addAssignment(assignmentTypes.dropbox)" data-bs-dismiss="modal"
              queryParamsHandling="merge">
              <div class="card modal-item">
                <div>
                  <i class="fas fa-folder fa-3x" ></i>
                  <p style="margin-top: 10px;">Dropbox</p>
                </div>
              </div>
            </div>
            <div class="col-auto" (click)="addAssignment(assignmentTypes.essay)" data-bs-dismiss="modal"
              queryParamsHandling="merge">
              <div class="card modal-item">
                <div>
                  <i class="fas fa-pen-fancy fa-3x" ></i>
                  <p style="margin-top: 10px;">Essay</p>
                </div>
              </div>
            </div>
            <div class="col-auto" (click)="addAssignment(assignmentTypes.quiz)" data-bs-dismiss="modal"
              queryParamsHandling="merge">
              <div class="card modal-item">
                <div>
                  <i class="fas fa-file-signature fa-3x" ></i>
                  <p style="margin-top: 10px;">Quiz</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngSwitch]="viewMode">
  <section *ngSwitchCase="0">
    <div class="container" style="margin-top:2rem">
      <div class="row justify-content-center">
        <div class="col-auto text-center card">
          <div style="margin-top: 10px;">
            <i class="fas fa-spinner fa-pulse fa-3x" ></i>
            <p style="margin-top: 10px;">loading</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section *ngSwitchCase="1">
    <table class="table text">
      <thead>
        <tr>
          <th scope="col">Assignment</th>
          <th scope="col" class="text-center d-none d-md-table-cell">Due</th>
          <th scope="col" class="text-center d-none d-md-table-cell">Graded</th>
          <th scope="col" class="text-center ">Score</th>
          <th scope="col" class="text-center">Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assignment of items">
          <td class="align-middle"><i class="fas {{assignment.type}} fa-lg"></i> <a routerLink="../assignment"
              queryParamsHandling="merge" [queryParams]="{assignmentId: assignment.id }">{{assignment.title}}</a></td>
          <td class="due text-center align-middle d-none d-md-table-cell">
            <div *ngIf="assignment.due != null">
              <p class="date">
                {{assignment.due.date}}</p>
              <p class="time">
                {{assignment.due.time}}
              </p>
            </div>
          </td>
          <td class="text-center align-middle d-none d-md-table-cell"><i class="fas fa-check fa-lg"></i></td>

          <td class="text-center  align-middle">?/{{assignment.maxScore}}</td>
          <td class="text-center  align-middle"></td>
        </tr>
        <tr>
          <td class="overall align-middle d-none d-md-table-cell" colspan="3">Overall Result
          <td class="overall align-middle d-table-cell d-md-none" colspan="1">Overall Result
          </td>
          <td class="text-center  align-middle">87%</td>
          <td class="text-center  align-middle">2.0</td>
        </tr>
      </tbody>
    </table>
    <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal" data-bs-target="#newAssignmentModal"
>
  <i class="fas fa-plus"></i> Add
</button>
  </section>